@media screen and (max-width: 1280px) {
    div.example {width: 1100px;}
    }
    
@media screen and (max-width: 1024px) {
div.example {width: 980px;}
}

h1 {
    font-family: 'Montserrat';
    text-align: center;
    color: white;
}

.body, head {
    background-color: black;
}
.photo1 {
    display: block;
    height: 100%;
    width: 100%;
}

.photo2 {
    display: block;
    height: 100%;
    width: 100%;
}

.photo3 {
    display: block;
    height: 100%;
    width: 100%;
}

.photo4 {
    display: block;
    height: 100%;
    width: 100%;
}

.photo5 {
    display: block;
    height: 100%;
    width: 100%;
}

.s2 {
    background: url('../images/2.jpg');
    background-size: cover;
    h1 {
        text-align: left;
        margin-left: 2em;
        font-size: 4rem;
    }
    
}

.s3 {
    background: url('../images/3.jpg');
    background-size: cover;
    h1 {
        text-align: left;
        margin-left: 2em;
        font-size: 2rem;
    }
    
    
}